{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base", 
        "prettier"
    ],
    "rules": {
        "no-console": "off", 
        "no-plusplus": "warn",
        "eol-last": "off", 
        "max-len": ["error", 200],
		"linebreak-style": "off"
    }
}